/Java/NetBeansProjects/mqTest/nbproject/private/
/Java/NetBeansProjects/mqTest/build/
/Java/NetBeansProjects/HelloWorldApp/nbproject/private/
/Java/NetBeansProjects/HelloWorldApp/build/
/Java/NetBeansProjects/HelloWorldApp/dist/